body {
    background-color: #c60f13;
  
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

    font-size: 35px;
    line-height: 0.9;
    margin-bottom: 15px;

}
.bottom-padding{margin-bottom: 25px;}
strong {
    font-weight: bold;
}
.some-height{
    min-height:75%; 
    height: 425px;
}



footer {
text-align: center;
margin-top: 25px;
}

a {
    color: #c60f13;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #610506;
}

.light {
    font-weight: 400;
}
